<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.OperateMapper">

    <resultMap type="com.share.pojo.Manager" id="ManagerInfoResult">
        <id column="mid" property="mid"/>
        <result property="mname" column="mname"/>
        <result property="mpassword" column="mpassword"></result>
    </resultMap>

    <select id="login" parameterType="com.share.pojo.Manager" resultMap="ManagerInfoResult">
        select *
        from
        Manager
        where
        mname=#{mname} and mpassword=#{mpassword}
    </select>

    <insert id="signUp" parameterType="com.share.pojo.Manager">
        INSERT INTO
        Manager
        (mname,mpassword)
        VALUES
        (#{mname},#{mpassword})
    </insert>

    <select id="getManager" parameterType="com.share.pojo.Manager" resultMap="ManagerInfoResult">
        SELECT *
        FROM
        Manager
        WHERE mname=#{mname}
    </select>
</mapper>